# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android/Gradle
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Editor/OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
